<ion-content style="--background:#fffff">
  <ion-grid>
    <ion-row  class="ion-text-center" >      
      <ion-col>
        <img src="assets/no-connection.svg" style="width: 40%;padding-top: 20%;">
      </ion-col>
    </ion-row>
      <ion-row  class="ion-text-center" style="padding-top: 10%;">      
        <ion-col>
          <strong>No Internet Connection</strong><br><br>
        </ion-col>
      </ion-row>
      <ion-row  class="ion-text-center" style="margin: 0 10%;">      
        <ion-col>
          <ion-label>Uh Oh! Check your Internet Connection and Try Again</ion-label><br><br>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-button  color='secondary' shape="round" style="width: 100%;" (click)="onRetry()">Retry</ion-button>
          </ion-col>
        </ion-row>  
    </ion-grid>
</ion-content>