.notify {
    font-size: 25px;
}
.mar{
    margin: auto 9%;
    margin-top: 8%;
    width: 75%;
    height: auto;
}
ion-buttons{
    margin-left: 4%;
    margin-right: 4%;
 }
ion-icon {
    font-size: 25px;
    color: black;;
}
ion-back-button{
    color: black;;
}
.pad{
    padding-bottom: 10px;
}
.msgbutton{
    text-align: center;
    width: auto;
    height: auto;
    margin-right: 14%;
    border: 1.5px solid #300099;
}
.sendBtn{
    width: 96%;
    text-transform: none;
    margin-left: 4%;;
}
ion-card{
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
}
.col{
    color: black;
}
.pad-top{
    padding-top: 10%;
}

.ios .msgbutton{
    margin-top: 11%;
}