
ion-avatar{
    width: 100%;
    height: auto;
}
ion-buttons{
    margin-left: 4%;
    margin-right: 4%;
 }
ion-icon {
    font-size: 25px;
    color:#000000;
   }
   ion-card{
    box-shadow: none;
}
.pad-top{
    padding-top: 10%;
    padding-bottom: 10%;
}
   //ios styling
.ios ion-card{
    margin: 1% 0%;
      box-shadow: none;
}
