ion-icon {
    font-size: 25px;
    color:#000000;
}
ion-card{
    box-shadow: none;
 }
ion-buttons{
    margin-left: 4%;
    margin-right: 4%;
}
ion-avatar{
    margin-left: 20%;
    height: 100%;
}

.search-pad{
    padding: 3% 2% 0% 2%;
 }
.chatlist{
    font-size: large;
    margin: auto;
    margin-right: 4%;
    margin-left: 2%;
}
//ios styling 
.ios ion-card{
    height: 65px;
    margin: 0px 0px 25px 0px;
}