<ion-grid *ngIf="msgFlag">
  <ion-row class="ion-text-center" style="margin-top:40%">
    <ion-col>
      <strong>No Feedbacks provided!</strong>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-list *ngIf="!msgFlag" lines="none">
  <ion-item *ngFor='let fb of feedback;let i=index'>
    <ion-grid *ngIf='fb!==null'>
      <ion-row>
        <ion-col size='2'>
              <ion-avatar>
                <img *ngIf="!providers[i]?.imagePath" src="assets/avatar.svg"/>
                <img *ngIf="providers[i]?.imagePath" src={{providers[i].imagePath}}/>
              </ion-avatar>
        </ion-col>  
        <ion-col size='8'>
          <ion-row style='color: black;padding: 0.2rem;'>
              <b>{{providers[i]?.firstName}} {{providers[i]?.lastName}}</b>
          </ion-row>
          <ion-row style="color:grey;padding: 0.2rem;font-size: 15px;">
            {{fb.review}}
        </ion-row>
        </ion-col>
        <ion-col size='2'>
          <ion-row style="font-size: 15px;">
            <img src="assets/star.svg">
             {{fb.rating}} 
        </ion-row>
        </ion-col>
        </ion-row>

     </ion-grid>
  </ion-item>
</ion-list>