<!----Loader-->

<div  *ngIf="loader" class="ion-text-center pad-top">
  <app-loader></app-loader>
</div>
<!-- No data-->

<ion-card *ngIf="msgFlag && !loader" style="height: 100%;color: black;">
  <ion-grid>
    <ion-row  class="ion-text-center" >      
      <ion-col>
        <img src="assets/no-appointments.svg" style="width: 40%;padding-top: 20%;">
      </ion-col>
    </ion-row>
      <ion-row  class="ion-text-center" style="padding-top: 10%;">      
        <ion-col>
          <strong>No Appointments Scheduled</strong><br><br>
        </ion-col>
      </ion-row>
      <ion-row  class="ion-text-center" style="margin: 0 10%;">      
        <ion-col>
          <ion-label>Sorry! There are no appointment Recieved.</ion-label><br><br>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-card>

<!---Data present-->
<div *ngIf="!msgFlag && !loader">
  <ion-card *ngFor='let request of requestlist; let i = index'>
    <ion-list lines="none" (click)="onClick(i)">
          <ion-item>
            <h3>{{UsersName[i]}}</h3>
            
            <ion-badge *ngIf="request.status==='Pending'"  slot="end" color="warning">{{request.status}}</ion-badge>
            <ion-badge *ngIf="request.status==='Approved'"  slot="end" color="tertiary">{{request.status}}</ion-badge>
            <ion-badge *ngIf="request.status==='Completed'"  slot="end" color="success">{{request.status}}</ion-badge>
            <ion-badge *ngIf="request.status==='Cancelled'"  slot="end" color="danger">{{request.status}}</ion-badge>
            <ion-badge *ngIf="request.status==='Rejected'"  slot="end" color="medium">{{request.status}}</ion-badge>
          </ion-item>
          <ion-item>
            <img src="assets/calendarlogo.svg">
            <ion-label>{{request.startDate |  date:'mediumDate'}}</ion-label>
          </ion-item>
          <ion-item>
            <img src="assets/timelogo.svg">
            <ion-label>{{request.startTime |  date:'shortTime'}} - {{request.endTime |  date:'shortTime'}}</ion-label>
          </ion-item>
          </ion-list>
    </ion-card>
  </div>