<ion-header>
  <ion-toolbar>
     <h3 class="ion-text-center">Requests</h3>
     <ion-buttons large slot="end" style=" margin-left: 10%;">
      <ion-icon (click)="onClose()" name="close-outline"></ion-icon>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
   
     <ion-list lines="none" >
          <ion-item>
            <h3>{{userName}}</h3>
            <ion-badge *ngIf="requestdetail.status==='Pending'"  slot="end" color="warning">{{requestdetail.status}}</ion-badge>
            <ion-badge *ngIf="requestdetail.status==='Approved'"  slot="end" color="tertiary">{{requestdetail.status}}</ion-badge>
            <ion-badge *ngIf="requestdetail.status==='Completed'"  slot="end" color="success">{{requestdetail.status}}</ion-badge>
            <ion-badge *ngIf="requestdetail.status==='Cancelled'"  slot="end" color="danger">{{requestdetail.status}}</ion-badge>
            <ion-badge *ngIf="requestdetail.status==='Rejected'"  slot="end" color="medium">{{requestdetail.status}}</ion-badge>
          </ion-item>
          <ion-item class="pad">
            <ion-row>
              <ion-col size="2">
                <img src="assets/calendarlogo.svg">
              </ion-col>
              <ion-col size="10">
                <ion-row>
                  <ion-label>Date</ion-label>
                </ion-row>
                <ion-row>
                  <strong>{{requestdetail.startDate |  date:'mediumDate'}}</strong>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-item>

          <ion-item class="pad">
            <ion-row>
              <ion-col size="2">
                <img src="assets/timelogo.svg">
              </ion-col>
              <ion-col size="10">
                <ion-row>
                  <ion-label>Time</ion-label>
                </ion-row>
                <ion-row>
                  <strong>{{requestdetail.startTime |  date:'shortTime'}} - {{requestdetail.endTime |  date:'shortTime'}}</strong>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-item>

          <ion-item class="pad">
            <ion-row>
              <ion-col size="2">
                <img src="assets/locationlogo.svg">
              </ion-col>
              <ion-col size="10">
                <ion-row>
                  <ion-label>Location</ion-label>
                </ion-row>
                <ion-row>
                  <strong>{{requestdetail.reqCity}} , {{requestdetail.reqState}}</strong>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-item>

          <ion-item class="pad">
            <strong>Message</strong>
          </ion-item>
          <ion-item >
            <ion-label>{{requestdetail.message}}</ion-label>
          </ion-item>
        </ion-list>
        <!-------------------- buttons based on status-------------------->
        <div *ngIf="requestdetail.status==='Pending'" class="bottom">
          <ion-row>
            <ion-col>
                <ion-button 
                expand="full"
                shape="round"
                type="submit" 
                color='danger'
                (click)="rejectRequest()">Reject</ion-button>
            </ion-col>
            <ion-col>
                <ion-button 
                 expand="full"
                shape="round"
                type="submit" 
                color='success'
                (click)="approveRequest()">Approve</ion-button>
            </ion-col>
            </ion-row>
        </div>
      <div class="bottom">
        <ion-button *ngIf="requestdetail.status==='Approved'"
         expand="full"
        shape="round"
        type="submit" 
        color='medium'
        (click)="markComplete()">Mark as Completed</ion-button> 
      </div>
<!-- 
      <div class="bottom">
        <ion-button *ngIf="requestdetail.status==='Completed'" expand="full"
        shape="round"
        type="submit" 
        (click)="Rate()">Rate the Service</ion-button>
       </div>  -->
    </ion-card>
</ion-content>