ion-icon {
    font-size: 25px;
}
ion-label{
    padding-bottom: 3%;
}

ion-row{
    width: 100%;
}
.pad{
    padding-top: 5%;
}
ion-card{
    height: 100%;
}
ion-button{
    width: 90%;
    padding-left: 10%;
}

.bottom{
    position: fixed;
    bottom: 16px;
    width: 100%;
}