<ion-header>
  <ion-toolbar >
     <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/settings"></ion-back-button>
    </ion-buttons>
        <h3 class="ion-text-center">Change password</h3>
     <ion-buttons large slot="end" style=" margin-left: 10%;">
        <ion-icon name="settings-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="changePassword">  
       
           <ion-item>
              <ion-label position="floating">Old Password</ion-label>
              <ion-input type="text"  formControlName="oldPassword"></ion-input> 
          </ion-item>
          <ion-item>
              <ion-label position="floating">New Password</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input type="password"  formControlName="confirmPassword"></ion-input> 
        </ion-item>
        
          <br>
          
            <ion-button expand="full"
                        shape="round"
                        type="submit" 
                        (click)="onSave()"
                        [disabled]=!changePassword.valid>Save Changes</ion-button>
          
        </form>
      </ion-col>
    </ion-row> 
    </ion-grid>
</ion-content>
