<ion-header>
  <ion-toolbar class="ion-text-center">
  <strong style="padding-right: 10%;">Schedule Appointment</strong>
    <ion-icon class="ion-padding-start" name="close-outline" slot="start" (click)="onClose()"></ion-icon>
  </ion-toolbar>
  </ion-header>

<ion-content>

  <form [formGroup]="hireRequest">
    <ion-card>
       <ion-item>
          <ion-label>Date</ion-label>
          <ion-datetime [min]="minDate" [max]="maxDate" formControlName="startdate" ></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Start Time</ion-label>
         <ion-datetime formControlName="starttime" display-format="h:mm A" picker-format="h:mm A" ></ion-datetime>
        </ion-item>
         <ion-item>
          <ion-label>End Time</ion-label>
          <ion-datetime   formControlName="endtime" display-format="h:mm A" picker-format="h:mm A" ></ion-datetime>
          </ion-item>
          <br>
      </ion-card>
      <ion-card>
          <ion-item>
            <ion-label>Country</ion-label>
            <ion-select (ionChange)="onSelectCountry($event)">
              <ion-select-option *ngFor="let country of countries" [value]="country">{{country.name }}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>State</ion-label>
            <ion-select (ionChange)="onSelectState($event)">
              <ion-select-option *ngFor="let state of states" [value]="state">{{state.name}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>City</ion-label>
            <ion-select (ionChange)="onSelectCity($event)">
              <ion-select-option *ngFor="let city of cities" [value]="city">{{city.name}}</ion-select-option>
            </ion-select>
          </ion-item>
      </ion-card>
      <ion-card style="height: 120px;">
          <ion-item style="height: 100px;">
            <ion-textarea formControlName="message" placeholder="Note"></ion-textarea>
        </ion-item>
      </ion-card>
          <ion-button expand="full"
                      shape="round"
                      type="submit" 
                      (click)="onSubmit()"
                      [hidden]="!hireRequest.valid || selectedCity===''">Schedule Appointment</ion-button>
        
      
  </form>
  
  </ion-content>