ion-item{
    width: 100%;
}
ion-icon {
    font-size: 25px;
}
ion-card{
    box-shadow: none;
}

ion-select{
    width:50%;
}
ion-button{
    margin: 2%;
    position: absolute;
    bottom: 5%;
    width: 95%;
}
.alert-radio-group.sc-ion-alert-md{
    max-height: 491px;
}
