ion-icon {
    font-size: 25px;
}

.profile{
    margin: auto;
    height: auto;
    width: 45%;
    
 }
 .cam{
    background-color: #E5E5E5;
    border-radius: 9px;
    z-index: 5;
    position: absolute;
    right: 37%;
}

ion-button{
    text-transform: none;
}



ion-select{
    width:50%;
}