ion-icon {
  font-size: 25px;
  color:#000000;
 }
ion-buttons{
  margin-left: 4%;
  margin-right: 4%;
}

ion-loading {
    color: green;
  }
ion-content{
    --background: #ffffff;
 }
.font-style{
    font-weight: 600;
}
.pad-top{
  padding-top: 10%;
  padding-bottom: 10%;
}